.dz-table {
  position: relative;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;

  .table-item {
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;

    &.table-title {
      position: sticky;
      top: 0;
      z-index: 1;
    }

    .table-item-left {
      flex-shrink: 0;
      flex-grow: 0;

      .tr {
        .td {
          &:last-of-type::after {
            display: block;
          }
        }
      }
    }

    .table-item-right {
      flex-grow: 1;
      width: 0;
    }
  }

  .tbox {
    width: 100%;
    overflow: hidden;

    .tr {
      background: #fff;
      border-radius: 2px;
      display: inline-flex;
      min-width: 100%;

      .td {
        padding: 0 24px;
        display: flex;
        align-items: center;
        position: relative;
        flex-grow: 1;
        width: 200px;
        flex-shrink: 0;
        height: 54px;

        &:last-of-type::after {
          display: none;
        }
      }
    }
  }

  .table-title .tr,
  .tr.tr-title {
    font-weight: 500;

    .td::after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 24px;
      width: 1px;
      background: rgb(0 0 0 / 6%);
    }
  }

  .table-title .tr {
    .td {
      height: 40px;
    }
  }

  .tr.tr-title {
    background: rgb(0 0 0 / 2%);
  }
}

.scrollbar {
  position: fixed;
  bottom: 0;
  left: 24px;
  right: 24px;

  .scrollbar-horz-container {
    align-items: flex-end;
    bottom: 0;
    display: flex;
    height: 18px;
    position: absolute;
    width: 100%;
    z-index: 1;

    &.active {
      border-top: 1px solid #e1e1e1;
      background: #fbfbfb;
      align-items: center;
      cursor: pointer;

      .scrollbar-horz-handler {
        height: 12px;
        margin-bottom: 0;
      }
    }

    .scrollbar-horz-handler {
      background: rgb(45 45 45 / 50%);
      border-radius: 6px;
      height: 7px;
      margin-bottom: 3px;
      transition: opacity 0.1s ease;
      transition-property: opacity, height;
      min-width: 20px;
    }
  }
}
